<div>
  <div nz-row [nzGutter]="8">
    <div class="demen_card" nz-col [nzSpan]="16">
      <nz-card nzTitle="今日总览">
        <ul>
          <li>
            <h3> 384 </h3>
            <p> 今日订单 </p>
          </li>
          <li>
            <h3 style="color:#409EFF">￥3587 </h3>
            <p> 今日营业额 </p>
          </li>
        </ul>
      </nz-card>
    </div>
    <div class="demen_card" nz-col [nzSpan]="8">
      <nz-card nzTitle="活动">
        <ul>
          <li>
            <h3 style="color:#409EFF"> 3 </h3>
            <p> 已报名 </p>
          </li>
          <li>
            <h3> 16 </h3>
            <p> 可报名 </p>
          </li>
        </ul>
      </nz-card>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div class="demen_card" nz-col [nzSpan]="16">
      <nz-card nzTitle="待处理订单">
        <ul>
          <li>
            <h3 style="color:#409EFF"> 12 </h3>
            <p> 新订单 </p>
          </li>
          <li>
            <h3> 1 </h3>
            <p> 异常订单 </p>
          </li>
          <li>
            <h3 style="color:#F56C6C"> 2 </h3>
            <p> 催单 </p>
          </li>
          <li>
            <h3> 0 </h3>
            <p> 退单 </p>
          </li>
        </ul>
      </nz-card>
    </div>
    <div class="demen_card" nz-col [nzSpan]="8">
      <nz-card nzTitle="待处理反馈">
        <ul>
          <li>
            <h3> 3 </h3>
            <p> 未回复差评 </p>
          </li>
          <li>
            <h3 style="color:#F56C6C"> 0 </h3>
            <p> 未回复评价 </p>
          </li>
        </ul>
      </nz-card>
    </div>
  </div>
</div>
<div class="demen_card" nz-col [nzSpan]="24">
  <nz-card nzTitle="任务">
    <div>
      <p> 1.导航菜单是一个网站的灵魂，用户依赖导航在各个页面中进行跳转 </p>
    </div>
    <div>
      <p> 2.一般分为顶部导航和侧 </p>
    </div>
    <div>
      <p> 3.供全局性的类目和功能，侧边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 4.一般分为顶部导航多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 5.一般分为顶边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 6.一般分为顶部导航和侧边导边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 7.一般分为顶边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 8.顶部导航和侧边边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 9.部导航和侧边导航，顶部导航提供全局性侧边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 10.部导航和侧边导航，顶部导和功能，侧边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
    <div>
      <p> 11.供全局性的类目和功能，侧边导航提供多级结构来收纳和排列网站架构 </p>
    </div>
  </nz-card>
</div>
